---
layout: default
---

<section class="posts">
{% for post in paginator.posts %}
  <article>
    <header class="center">
			<time>{{ post.date | date: "%Y年%m月%d日" }}</time>
      {% unless post.categories contains "photo" %}
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      {% endunless %}
    </header>
    {{ post.excerpt }}
		<p class="sign"><a href="{{ post.url}}"> 阅读全文....</a></p>
  </article>
{% endfor %}
</section>

<div class="center">
{% if paginator.previous_page %}
<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"  class="nav_previous">上一页</a>
{% endif %}
{% for page in (1..paginator.total_pages) %}
    {% if page < 31 %}
			{% if page == paginator.page %}
				<span class="active">{{ page }}</span>
			{% elsif page == 1 %}
				<a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
			{% else %}
				<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
			{% endif %}
		{% endif %}
{% endfor %}

{% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="nav_next">下一页</a>
{% endif %}
</div>

<div class="center" style="margin-bottom: 30px;">
  <a href="/archive">文章列表</a>
</div>

