/**
 * General styles
 */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  font-size: 1.0rem;
  color: #3A4145;
  font-weight: 400;
  line-height: 1.7;

  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 656px) {
  body {
    font-size: 1rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

p, ul, ol, dl, hr, .sign, .fluid-width-video-wrapper  {
  margin-bottom: 20px;
  font-weight: normal; 
}

@media screen and (max-width: 656px) {
  h1, h2, h3, h4, h5, h6, p, ul, ol, dl,
  hr,
  blockquote,
  .sign,
  .fluid-width-video-wrapper {
    margin-bottom: 20px;
  }
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

a { color: steelblue; }
a:hover { text-decoration: blue; }

img {
  max-width: 100%;
  height: auto;
  border: none;
  outline: none;
}

hr {
  border: 0;
  height: 25px;
  background: url(/public/images/eagle.png) center center no-repeat;
}

blockquote {
  font-size: 1.0rem;
  font-style: italic;
  margin: 0 100px 20px 120px;
  border-left: 5px solid #ccc;
}

@media screen and (max-width: 656px) {
  blockquote {
    font-size: 1.1rem;
  }
}

.nav_previous {
  float: left;
  margin-left: 100px;
}

.nav_next {
  float: right;
  margin-right: 100px;
}


.container { max-width: 900px; }

.responsive { width: 100%; }

.center { text-align: center; }

.right {
  float: right;
  margin: 0 0 10px 10px;
}

.left {
  float: left;
  margin: 0 10px 10px 0;
}

@media screen and (max-width: 564px) {
  .right,
  .left {
    float: none;
    margin: 0;
  }
}

/**
 * Header
 */
#main {
  margin: 30px 0;
  border-bottom: 1px dotted #3A4145;
}

@media screen and (max-width: 900px) {
  #main { margin: 30px 50px; }
}

@media screen and (max-width: 488px) {
  #main { margin: 30px 20px; }
}

#logo {
  display: inline-block;
  width: 100px;
  height: 100px;

  background-image: url(/public/images/logo.png);
  background-size: 100px 100px;
  background-position: center center;
  background-repeat: no-repeat;
}

.sitename {
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.tagline {
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
}

#main nav {
  position: relative;
  text-align: left;
}

#social {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}

#social form fieldset {
  border: 0;
}

@media screen and (max-width: 488px) {
  #social {
    position: relative;
    margin-left: 5px;
    text-align: left;
  }
}

#main #social a {
  padding: 0 5px;
  font-size: 1.2rem;
  color: #3A4145;
}

#main #social a:hover { color: steelblue; }

#main nav a {
  display: inline-block;
  padding: 5px 10px;

  text-decoration: none;
  text-transform: uppercase;
  font-size: .9rem;
}

#main nav a:hover { 
  color: black; 
}

main #uyan_frame,
main .ujian-hook
{
  padding-left: 100px; 
  padding-right: 100px; 
}

article .jiathis_style {
  padding: 0 100px;
}


/**
 * Index page
 */
article { margin-bottom: 50px; }

article header time,
.archive li time {
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  font-size: .8rem;
}

article header h1 {
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
  font-size: 1.4rem;
}

article header a {
  text-decoration: none;
  color: #3A4145;
}

article header a:hover {
  color: steelblue;
}

article h1 {
  font-size: 1.3rem;
  text-align: left;
  padding: 0 100px;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
  font-size: 1.2rem;
  text-align: left;
  padding: 0 100px;
}

article p { padding: 0 100px; }
article ol, article ul { 
  padding-left: 130px; 
  padding-right: 100px; 
}

article blockquote p { 
  padding: 0;
  margin: 0 0 0 20px;
}

article blockquote ol,
article blockquote ul { 
  padding: 0 0 0 20px;
  margin: 0 0 0 20px;
}

article .highlight,
article .codehilite
{
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 20px;
  word-wrap: break-word; 
  word-break: break-all;
  font-family: Monaco, Consolas, Lucida Console, monospace;
}

article table
{
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 20px;
  word-wrap: break-word; 
  word-break: break-all;
}

article .highlight pre,
article .codehilite pre
{
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  background-color: #f9f9f9;
}

article img {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  margin: auto;
}

article .sign {
  text-align: right;
}

@media screen and (max-width: 900px) {
  article h1,
  article h2,
  article h3,
  article h4,
  article h5,
  article h6 {
    padding-left: 50px;
    padding-right: 50px;
  }

  article ol, article ul {
    padding-left: 80px; 
    padding-right: 50px; 
  }
  article p { padding: 0 50px; }
  article blockquote {
    margin-left: 50px;
    margin-right: 50px;
  }

  article .highlight,
  article .codehilite
  {
    padding-left: 50px;
    padding-right: 50px;
  }

  .nav_previous {
    margin-left: 50px;
  }

  .nav_next {
    margin-right: 50px;
  }

  article img:not(.position) {
    margin-left: 0;
    max-width: 100%;
  }

  main #uyan_frame,
  main .ujian-hook {
    padding-left: 50px; 
    padding-right: 50px; 
  }
  
  #comments {
    padding-left: 50px; 
    padding-right: 50px; 
  }

  article .jiathis_style {
    padding: 0 50px;
  }
}

@media screen and (max-width: 564px) {
  article blockquote p { padding: 0 20px  }
}

@media screen and (max-width: 488px) {
  article h1,
  article h2,
  article h3,
  article h4,
  article h5,
  article h6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  article ol, article ul {
    padding-left: 40px; 
    padding-right: 10px; 
  }

  article p { padding: 0 10px; }

  article blockquote {
    margin-left: 10px;
    margin-right: 10px;
  }

  article .highlight,
  article .codehilite
  {
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav_previous {
    margin-left: 10px;
  }

  .nav_next {
    margin-right: 10px;
  }

  main #uyan_frame,
  main .ujian-hook {
    padding-left: 10px; 
    padding-right: 10px; 
  }

  article .jiathis_style {
    padding: 0 10px;
  }
}

/**
 * Single post.
 */
@media screen and (max-width: 900px) {
  #disqus_thread {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 488px) {
  #disqus_thread {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/**
 * Archive page.
 *
 * This is supposed to display a list of all posts (title and date).
 */
.archive ul { list-style: none; }
.archive li { margin-bottom: 20px; }
.archive li time { display: block; }

@media screen and (max-width: 900px) {
  .archive ul { padding: 0 50px; }
}

@media screen and (max-width: 488px) {
  .archive ul { padding: 0 20px; }
}

/**
 * Footer
 */
footer {
  padding-top: 30px;

  font-size: 1rem;

  border-top: 1px dotted #3A4145;
}

@media screen and (max-width: 900px) {
  footer { margin: 0 50px; }
}

@media screen and (max-width: 488px) {
  footer { margin: 0 20px; }
}
