---
layout: page
title: 分类列表
permalink: /categories.html
description: "九天雁翎博客中所有的文章, 按文章的分类归类列出."
---

<ul class="entry-meta inline-list">
{% assign category_list = site.categories %}  
  {% if category_list.first[0] == null %}
    {% for cate in category_list %} 
    	<li><a href="#{{ cate }}" class="cate">{{ cate }} <span>{{ site.categories[cate].size }}</span></a></li>
    {% endfor %}
  {% else %}
    {% for cate in category_list %} 
    	<li><a href="#{{ cate[0] }}" class="tag">{{ cate[0] }} <span>{{ cate[1].size }}</span></a></li>
    {% endfor %}
  {% endif %}
{% assign cate_list = nil %}
</ul>

{% for cate in site.categories %} 
	<article>
	<h2 id="{{ cate[0] }}">{{ cate[0] }}</h2>
		<ul>
		{% assign pages_list = cate[1] %}  
		{% for post in pages_list %}
			{% if post.title != null %}
			{% if group == null or group == post.group %}
				<li class="entry-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
			{% endif %}
			{% endif %}
		{% endfor %}
		{% assign pages_list = nil %}
		{% assign group = nil %}
		</ul>
	</article><!-- /.hentry -->
{% endfor %}
