---
layout: page
title: 分类列表
permalink: /categories.html
description: "九天雁翎博客中所有的文章, 按文章的分类归类列出."
---

{% for category in site.categories %}
  <h1 id="{{ category[0] }}" class="center">{{ category[0] }}</h1>
  {% assign pages_list = category[1] %}  
  {% for post in pages_list %}
    {% if post.title != null %}
    {% if group == null or group == post.group %}

<article>
  <div>
    <header>
      <h2 class="entry-title center">
			<time class="center">{{ post.date | date: "%Y年%m月%d日" }}</time>
			<br />
        <a href="{{ site.url }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h2>
    </header>

    <div class="entry-content clearfix">
      {{ post.excerpt }}
    </div>
  </div>
</article>

    {% endif %}
    {% endif %}
  {% endfor %}
  {% assign pages_list = nil %}
  {% assign group = nil %}
<hr />
{% endfor %}
