---
layout: page
title: 随笔
permalink: /essay.html
description: "九天雁翎博客中的随笔文章, 按日期列出."
---

<section class="posts archive">
	<article>
		<ul class="center">
		{% for category in site.categories %}
			{% if category[0] == '随笔' %}
				{% assign pages_list = category[1] %}  

				{% for post in pages_list %}
					{% if post.title != null %}
						{% if group == null or group == post.group %}
							<li><time>{{ post.date | date: "%Y年%m月%d日" }}</time>
							<a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}

			{% assign pages_list = nil %}
			{% assign group = nil %}
		{% endfor %}
		</ul>
	</article>
</section>





