---
layout: page
title: 编程
permalink: /programming.html
description: "九天雁翎博客中记录的跟编程相关的一切, 主要记录的是我学习编程的过程."
---

<section class="posts archive">
	<article>
		<ul class="center">
		{% for category in site.categories %}
			{% if category[0] == '编程' %}
				{% assign pages_list = category[1] %}  

				{% for post in pages_list %}
					{% if post.title != null %}
						{% if group == null or group == post.group %}
							<li><time>{{ post.date | date: "%Y年%m月%d日" }}</time>
							<a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}

			{% assign pages_list = nil %}
			{% assign group = nil %}
		{% endfor %}
		</ul>
	</article>
</section>





