<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.name }}</title>

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- icons -->
    <link rel="shortcut icon" href="/public/images/favicon.ico" />

    <!-- Google Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Istok+Web:400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic&subset=latin,latin-ext">

    <link rel="stylesheet" href="/public/css/responsive.gs.12col.css">
    <link rel="stylesheet" href="/public/css/foundation-icons.css">
    <link rel="stylesheet" href="/public/css/main.css">

    <!-- Meta information -->
    <meta name="author" content="{{ site.author }}">

    {% if page.title %}
    <meta name="description" content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}

    <!-- Google Authorship and Publisher Markup -->
    <link rel="author" href="https://plus.google.com/102155415257027501910/posts">
    <link rel="publisher" href="https://plus.google.com/102155415257027501910/posts">

    <!-- Twitter Cards meta tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{ site.url }}">
    <meta name="twitter:title" content="{{ site.name }}">
    <meta name="twitter:image" content="{{ site.url }}/public/images/logo.png">
    <meta name="twitter:site" content="@aigarsdz">

    {% if page.title %}
    <meta property="twitter:description" content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}">
    {% else %}
    <meta property="twitter:description" content="{{ site.description }}">
    {% endif %}

    <!-- Schema.org meta tags for Google+ -->
    <meta itemprop="name" content="{{ site.name }}">
    <meta itemprop="image" content="{{ site.url }}/public/images/logo.png">

    {% if page.title %}
    <meta itemprop="description" content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}">
    {% else %}
    <meta itemprop="description" content="{{ site.description }}">
    {% endif %}

    <!-- feed links -->
    <link rel="alternate" href="{{ site.url }}/feed.xml" type="application/rss+xml" title="{{ site.name }}">

    <!-- Windows 8 Live Tile -->
    <meta name="application-name" content="Aigars Dzerviniks">
  </head>
  <body>
    <div class="container">
      <header class="center" id="main">
        <a id="logo" href="/" title="{{ site.name }}"></a>
        <div class="tagline">{{ site.description }}</div>
        <h1>{{ site.name }}</h1>

        <nav>
          <a href="/" title="{{ site.name }}">Home</a>
          <a href="/archive" title="Arhīvs">Archive</a>
          <a href="/about" title="Par mani">About</a>

          <div id="social">
            <a href="http://twitter.com/aiagrsdz"><i class="fi-social-twitter"></i></a>
            <a href="http://github.com/aigarsdz"><i class="fi-social-github"></i></a>
            <a href="http://instagram.com/aigarsdz"><i class="fi-social-instagram"></i></a>
            <a href="mailto:dzerviniks.aigars@outlook.com"><i class="fi-mail"></i></a>
          </div>
        </nav>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="center">
        <p>
          This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/deed.en_US">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
        </p>
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/public/js/jquery.fitvids.js"></script>
    <script>
    $(document).ready(function(){
      $("article").fitVids();
    });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48119785-1', 'dzerviniks.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>
