---
layout: default
---

<section class="posts">
  <article>
    <header class="center">
      <time>{{ page.date | date: "%Y年%m月%d日" }}</time>
      <h1><a href="{{ page.url }}">{{ page.title }}</a></h2>
    </header>
    {{ content }}
    <!--
    <p>
      顺便发一条<a href="/employment.html" title="公司招聘" >公司招聘</a>的信息, 有兴趣的可以联系我.
    </p>

    <div class="center"> 扫描二维码, 关注作者.</div>
    <img src="/public/images/qrcode-258.jpg" alt="微信公众号: 程序即人生">
    -->

    <p>
    分类:&nbsp;
    {% for cate in page.categories %}
    <a href="/categories.html#{{ cate }}" class="category">{{ cate }}&nbsp;</a>
    {% endfor %}
    <br />
    标签:&nbsp;
    {% for tag in page.tags %}
    <a href="/tags.html#{{ tag }}" class="tag">{{ tag }}&nbsp;</a>
    {% endfor %}
    </p>

    <div class="sign">
      <p> Posted By {{ site.author }} at <a href="{{ page.url }}">{{ site.name }}</a> on {{ page.date | date: "%Y年%m月%d日" }}</p>
    </div>

    <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style">
      <span class="jiathis_txt">分享到：</span>
      <a class="jiathis_button_tsina"></a>
      <a class="jiathis_button_weixin"></a>
      <a class="jiathis_button_qzone"></a>
      <a class="jiathis_button_renren"></a>
      <a href="http://www.jiathis.com/share?uid=1547690" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
      <a class="jiathis_counter_style"></a>
    </div>
    <br />
    <script type="text/javascript">
    var jiathis_config = {data_track_clickback:'true'};
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1547690" charset="utf-8"></script>
    <!-- JiaThis Button END -->

    <div>
      {% if page.previous %}
      <a href="{{ page.previous.url }}" class="nav_previous" title="{{ page.previous.title }}">前一篇: {{ page.previous.title }}</a>
      {% endif %}
      {% if page.next %}
      <a href="{{ page.next.url }}" class="nav_next" title="{{ page.next.title }}">后一篇: {{ page.next.title }}</a>
      {% endif %}
    </div>

  </article>

  <div id="comments">
    <noscript>Please enable JavaScript to view the comment form powered by <a href="https://commentit.io/">Comm(ent|it)</a></noscript>
    <div id="commentit"></div>
    <script type="text/javascript">
      /** CONFIGURATION VARIABLES **/
      var commentitUsername = 'jtianling';
      var commentitRepo = 'jtianling/jtianling.github.io';
      var commentitPath = '{{ page.path }}';

      /** DON'T EDIT FOLLOWING LINES **/
      (function () {
        var commentit = document.createElement('script');
        commentit.type = 'text/javascript';
        commentit.async = true;
        commentit.src = 'https://commentit.io/static/embed/dist/commentit.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(commentit);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>

</section>
