---
layout: default
---

<section class="posts">
  <article>
    <header class="center">
			<time>{{ page.date | date: "%Y年%m月%d日" }}</time>
      <h1><a href="{{ page.url }}">{{ page.title }}</a></h2>
    </header>
    {{ content }}

		<!-- JiaThis Button BEGIN -->
		<div class="jiathis_style">
			<span class="jiathis_txt">分享到：</span>
			<a class="jiathis_button_tsina">新浪微博</a>
			<a class="jiathis_button_qzone">QQ空间</a>
			<a class="jiathis_button_weixin">微信</a>
			<a class="jiathis_button_pocket">Pocket</a>
			<a href="http://www.jiathis.com/share?uid=1547690" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
			<a class="jiathis_counter_style"></a>
		</div>
		<script type="text/javascript">
var jiathis_config = {data_track_clickback:'true'};
		</script>

		<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1547690" charset="utf-8"></script>
		<!-- JiaThis Button END -->
	</article>
	<!-- UY BEGIN -->
	<div id="uyan_frame"></div>
	<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1547690"></script>
	<!-- UY END -->
</section>
